<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="Styles/base.css"/>
<title>portal</title>
</head>

<body>
<div id="userbox">
    <div id="userbox-left">首页 个人中心 应用中心</div>
    <div id="userbox-right">张仕响 账户 注销 language</div>
</div>

<div id="header">
    <div id="banner">CREC协同环境</div>
    <div id="collections">
    	<ul>
        	<li>首页</li>
            <li>DUCKLING</li>
            <li>服务推广</li>
            <li>科研点项目</li>
            <li>CERC快易通</li>
            <li>项目管理</li>
            <li>团队日程</li>
            <li>小谢推荐</li>
            <li>最近更新</li>
            <li style="border:0;"><a onclick="document.getElementById('more-collections').style.display='block';">更多</a></li>
       </ul>
       <ul id="more-collections" style="display:none;" onclick="document.getElementById('more-collections').style.display='none';">
            <li>系统环境</li>
            <li>服务推广</li>
            <li>科研点项目</li>
            <li>CERC快易通</li>
            <li>项目管理</li>
            <li>团队日程</li>
            <li>小谢推荐</li>
            <li>最近更新</li>
            <li>最新增加</li>
       		<li style="border:0;"><input name="add" type="button" value="添加" /></li>
            <li>最新增加</li>
            <li>服务推广</li>
            <li>科研点项目</li>
            <li>CERC快易通</li>
            <li>项目管理</li>
            <li>团队日程</li>
            <li>小谢推荐</li>
            <li>最近更新</li>
            <li>最近更新</li>
            <li style="border:0;"><input name="add" type="button" value="编辑" /></li>
        </ul>
    </div>
</div>

<div id="content">
	<div id="major">
	<div id="trends">
    	<div class="content-title">动态</div>
        <div class="content-detail-left">推荐</div><div class="content-detail-right">5</div>
        <div class="content-detail-left">回复</div><div class="content-detail-right">2</div> 
        <div class="content-detail-left">关注的更新</div><div class="content-detail-right">3</div>  
    </div>
    <div id="recent-edit">
    	<div class="content-title">最新编辑的</div>
    </div>
    <div id="recent-create">
    	<div class="content-title">最新创建的</div>
    </div>
    <div id="recent-scan">
    	<div class="content-title">最新浏览的</div>
    </div>
    <div id="apply">
    	<div class="content-title">应用</div>
        <div class="content-detail-left"><img src="images/I am PPT.jpg" />应用名称1</div>
        <div class="content-detail-left"><img src="images/I am PPT.jpg" />应用名称2</div>
        <div class="content-detail-left"><img src="images/I am PPT.jpg" />应用名称3</div>
        <div class="content-detail-left"><img src="images/I am PPT.jpg" />应用名称4</div>
    </div></div>
	<div id="side"></div>
	
</div>
<div class="clear"></div>
<div id="footer">
	中国科学院计算机网络信息中心 协同工作环境研究中心 copyright@2011
</div>

</body>
</html>
