/* appearance (shape, color) modified by Van, Jun 4th, 2011 */
.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:inline-block; 
    width: 97px; padding: 8px 0; text-align:center;
	border:1px solid #196aeb; border-radius:2px;
	*background-color:#0096CE;
	background:linear-gradient(to bottom, #0096CE, #0096CE) repeat scroll 0 0 #0096CE;
	background-color:#0096CE;
    border-radius:2px; 
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
    font-size:13px; color:#fff;
    box-shadow:0px 1px 2px #ccc; -moz-box-shadow:0px 1px 2px #ccc; -webkit-box-shadow:0px 1px 2px #ccc;
}
.qq-upload-button:hover {background-color:#3078eb;}
.qq-upload-button.qq-upload-button-hover { background-position:0 top;
	box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;
	background-color:#3078eb;
}
.qq-upload-button-focus { outline:1px dotted black; }

/**********upload link*/
#file-uploader-link {float:right;}
#file-uploader-link .qq-upload-button {
	background:none;
	border:none;
	box-shadow:none;
	color:#05a;
	text-align:left;
	font-size:14px;
	margin:-8px 0 0 3px;
	margin:-8px 0 0 -90px\9;
}

/**********file refresh*/
#file-uploader-file {margin:0px}
#file-uploader-file .qq-upload-button{
	margin:0;
	padding:9px 32px 9px 12px;
	text-shadow: 0 1px 0 #fff;
	color:#08a;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  cursor: default;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#file-uploader-file .qq-upload-button:hover,
	#file-uploader-file .qq-upload-button.qq-upload-button-hover {
	text-shadow: none;
  border-color: #c6c6c6;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff1f1f1', GradientType=0);
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  color:#333;
}

/*esp end*/

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list { margin:0 2em; padding:0; list-style:none; }
.qq-upload-list li { margin-top:2px; padding:4px; text-align:left; border-bottom:1px dotted #ccc; }

/* .qq-upload-list styles copied from base.css ul.fileList */
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline; color:#900; }